/* GENERAL STYLES */

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;

    cursor: pointer;
}

input {
    font: inherit;

    background-color: transparent;
}

ul {
    padding: 0;

    list-style-type: none;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.fieldset {
    border: none;
}

/* LAYOUT */

.container {
    position: relative;

    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header__container,
.main-header__block--left,
.banner div[class="container"],
.main-navigation__list,
.promo__row,
.promo-slider__btn-box,
.promo__card-content,
.popular-products__banner,
.popular-products__row,
.popular-manufacturers__banner,
.popular-manufacturers__row,
.services__selection,
.about-container,
.footer-navigation-top,
.footer-navigation-bottom,
.footer-navigation-top__list,
.footer-navigation-bottom__list,
.main-footer__top--logo,
.main-footer__top--address,
.main-footer__bottom-container,
.card-product__row,
.sorting,
.sorting-btn-wrap,
.about-container {
    display: flex;
    justify-content: space-between; 
}

/* HEADER */

.main-header {
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    margin: 0 auto;

    font-size: 17px;
    line-height: 18px;
    
    background-color: #293449;
}

.main-header__container {
    min-width: 980px;
}

.main-header__block--left {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.main-logo {
    margin-left: 10px;
    padding: 12.5px 56px 0 54px;
    box-sizing: content-box;

    background-color: #ee3643;
  }

.main-logo:hover, 
.main-logo:focus {
    background-color: #ca2c37;
    
    transition: 0.4s;
}

.main-logo:active {
    background-color: #ba2732;
}

.search {
    position: relative;

    display: flex;
    justify-content: space-around;
}

.search__field::-moz-placeholder {
    opacity: 1;

    color: #ffffff;
}

.search__icon {
    margin: 6px;
}

.search__field {
    min-width: 260px;
    padding-left: 48px;
    border: none;

    /* line-height: 45px; */

    color: #000;
}

.search__field:hover,
.bookmark:hover,
.bookmark:focus,
.cart:hover,
.cart:focus {
    background-color: #212a3a;

    transition: 0.4s;
}

.search__field:focus {    
    background-color: #ffffff;
}

.bookmark:active,
.cart:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.search::after {
    position: absolute;
    top: 12px;
    left: 17px;

    width: 17px;
    height: 17px;
    content: "";

    background-image: url(../img/svg/icon-search.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.search:hover::after {
    opacity: 1;
}

.search:focus::after path,
.search:focus path::after,
.search:focus path,
.search:focus::after {
    background-image: url(../img/icon-search.png);
    fill: #ee3643;
}

.search:active::after {
    opacity: 0.5;
}

.main-header__block--right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.bookmark,
.cart,
.order {
    position: relative;

    word-wrap: normal;
    padding: 12.5px 20px;
}

.bookmark,
.cart {
    padding-left: 45px;
}

.bookmark:active,
.cart:active {
    color: rgba(255, 255, 255, 0.6);
}

.bookmark::after {
    position: absolute;
    top: 12px;
    left: 17px;

    width: 14px;
    height: 16px;
    content: "";

    background-image: url(../img/svg/icon-bookmark.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.cart::after {
    position: absolute;
    top: 12px;
    left: 17px;

    width: 15px;
    height: 15px;
    content: "";

    background-image: url(../img/svg/icon-cart.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.bookmark:hover::after,
.bookmark:focus::after,
.cart:hover::after,
.cart:focus::after {
    opacity: 1;
}

.bookmark:active::after,
.cart:active::after {
    opacity: 0.5;
}

.order {
    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
    
    transition: 0.4s;
}

.order:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

/* MAIN */

.main {
    position: relative;

    margin: 0 auto;
}

/* BANNER */

.banner {
    position: relative;

    min-width: 100vw;
    margin: 0 auto 50px;

    color: #000;

    background-color: #f3f7f9;
}

.banner .container {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
}

.banner-left__title-wrap {
    max-width: 250px;
}

.banner-left__title {
    padding-left: 53px;

    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    font-weight: 400;
    color: #ee3643;
}

.banner-left__title::before {
    position: absolute;
    top: 0;
    left: 2px;

    content: "";
    width: 220px;
    height: 5px;
    margin-left: 17px;    

    background-color: #b52933;
}

.banner-center__tel {
    border: 3px solid #ffffff;
}

.banner-center__images {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 12px;
}

.banner-center__link {
    font-size: 21px;
    font-style: normal;
    line-height: 21px;
    align-items: center;
    color: #ee3643;   
}

.banner-center__link:hover,
.banner-center__link:focus {
    text-decoration: underline;
    color: #ca2c37;
    
    transition: 0.4s;
}

.banner-center__link:active {
    color: #ba2732;
}

.banner-center__address {
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    align-items: center;
    color: #32425c;
}

.banner-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-right: 10px;
}

.banner-right__list {
    display: flex;
    justify-content: space-around;
}

.banner-right__button,
.profile {
    display: flex;
    justify-content: stretch;

    font-size: 21px;
    font-style: normal;
    align-items: center;
    text-transform: none;
    color: #000000;
    
    background-color: #fff;
}

.profile {
    position: relative;

    padding-left: 57px;
}

.profile::after {
    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 18px;
    content: "";

    background-image: url(../img/icon-user.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.logout__image {
    opacity: 0.3;
}

.profile:hover::after,
.profile:focus::after,
.logout__image:hover,
.logout__image:focus {
    opacity: 1;
}

.profile:active::after,
.logout__image:active {
    opacity: 0.3;
}

.banner-right__icon {
    margin: 0 14px;
}

.banner-right__button-login {
    position: relative;

    margin-right: 10px;
    padding: 7px 27px 7px 40px;
}

.banner-right__button-registration {
    padding: 7px 25px;
}

.banner-right__button:hover, 
.banner-right__button:focus {
    color: #ee3643;
    
    transition: 0.4s;
}

.banner-right__button-login:before {
    position: absolute;
    top: 16px;
    left: 14px;

    content: "";
    width: 20px;
    height: 17px;

    background-image: url(../img/icon-login.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.banner-right__button-login:hover::before,
.banner-right__button-login:focus::before    {
    opacity: 1;
}

.banner-right__button-login:active::before    {
    opacity: 0.3;
}

.profile-wrap {
    display: flex;
    justify-content: stretch;

    max-height: 45px;
    margin-top: 15px;
}

.profile:hover, 
.profile:focus {
    color: #ee3643;
    
    transition: 0.4s;
}

.profile:active {
    opacity: 0.3;
}

.logout {
    padding: 10px 10px 10px 10px;

    background-color: #ffffff;
}

.banner-right__button:active,
.profile:active {
    color: rgba(0, 0, 0, 0.3);
}

.userlinks__list {
    display: flex;
    justify-content: space-around;
}

.userlinks__link {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #000000;
}

.userlinks__link:hover,
.userlinks__link:focus {
    color: #ee3643;
    
    transition: 0.4s;
}

.userlinks__link:active {
    color: #32425c;

    text-decoration: none;

    opacity: 0.3;
}

/* NAVIGATION */

.main-navigation {
    margin: 0 10px 60px;
    min-width: calc(100% - 20px);
    border-bottom: 5px solid #293449;

    font-size: 17px;
    line-height: 17px;
    align-items: center;

    background-color: #32425c;
}

.main-navigation__list {
    align-items: stretch;
}

.main-navigation__item,
.main-navigation__link {
    padding: 0 auto;
}

.main-navigation__link {
    padding: 15.5px 30px;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
    background-color: #293449;
    
    transition: 0.4s;
}

.main-navigation__link:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}


/* PROMO BLOCK */

.promo {
    margin: 0 auto;
}

.promo__card {
    position: relative;

    width: 100%;
    margin: 10px;

    overflow: hidden;
}

.promo__card-content {
    padding: 0 23px;
    margin-bottom: 22px;
}

.promo__card--materials {
    background-color: #ffbf47;
}

.promo__card--tools {
    background-color: #3bbce3;
}

.promo__card--equipment {
    background-color: #dc91d8;
}

.promo__card--discount {
    background-color: #8ed78f;
}

.promo__card--delivery {
    background-color: #ffc047;
}

.card-content__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.card-content__link {
    display: block;
    min-width: 135px;
    padding: 14px 0;

    line-height: 18px;
    text-transform: uppercase;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.1);
}

.card-content__link:hover,
.card-content__link:focus {
    background-color: rgba(0, 0, 0, 0.2);
    
    transition: 0.4s;
}

.card-content__link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.card-content__images-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.promo__doble-row {
    margin-right: 20px;
    padding-bottom: 43px;
}

.promo-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    margin: 10px;
    padding: 0 25px;
    max-width: calc(100% - 100px);
   
    background-color: #32425c;
    background-image: url(../img/slider-drill.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-slider__overlay--perforator,
.promo-slider__overlay--drill {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.promo-slider__overlay--perforator {
    display: none;
}

.promo-slider__overlay--drill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.overlay__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;

    margin: 27px 0 0;
}

.overlay__text {
    font-size: 18px;
    line-height: 24px;

    margin: 0;
    padding-top: 8px;
}

.promo-slider__link-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 0.5;
}

/* BUTTONS AND LINKS */

.promo-slider__link,
.popular-products__more,
.popular-manufacturers__more,
.company__btn,
.contacts__btn,
.credit__button,
.popup-added-product__button,
.feedback-form__btn {
    padding: 10px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #ee3643;
    border-radius: 2px;
}

.promo-slider__link {
    padding: 14px 45px;
}

.promo-slider__link:hover,
.promo-slider__link:focus,
.popular-products__more:hover,
.popular-products__more:focus,
.popular-manufacturers__more:hover,
.popular-manufacturers__more:focus,
.company__btn:hover,
.company__btn:focus,
.contacts__btn:hover,
.contacts__btn:focus,
.credit__button:hover,
.credit__button:focus,
.popup-added-product__button:hover, 
.popup-added-product__button:focus,
.feedback-form__btn:hover,
.feedback-form__btn:focus {
    font-size: 14px;
    line-height: 18px;

    background-color: #ca2c37;
    
    transition: 0.4s;
}

.promo-slider__link:active,
.popular-products__more:active,
.popular-manufacturers__more:active,
.company__btn:active,
.contacts__btn:active,
.credit__button:active,
.popup-added-product__button:active,
.feedback-form__btn:active {
    font-size: 14px;
    line-height: 18px;

    background-color: #ba2732;
}

.wrap-slider-radiobutton {
    position: relative;

    display: flex;
    justify-content: space-around;
    margin-left: 76px;
}

.wrap-slider-radiobutton li input {
    margin: 0 5px;
}

.wrap-slider-radiobutton__item {
    position: relative;
}

.wrap-slider-radiobutton__item--second {
    margin-left: 20px;
}

.wrap-slider-radiobutton__item input {
    position: absolute;
    z-index: 15;
    opacity: 0;
}

.wrap-slider-radiobutton__item input[type="radio"] + .radio-indicator {
    position: absolute;
    z-index: 5;
    top: 1px;
    left: 6px;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: #ffffff;    
}

.wrap-slider-radiobutton__item input[type="radio"]:focus + .checkbox-indicator {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    opacity: 1;
}

.wrap-slider-radiobutton__item input[type="radio"]:checked + .radio-indicator::after {
    position: absolute;
    top: 2px;
    left: 2px;

    content: "";
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: #ee3643; 
}

.promo_double-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0.06;
}

/* POPULAR PRODUCTS */

.popular-products__more {
    padding: 14px 55px;
}

.new-product {
    display: none;
    align-items: center;
    width: 100px;

    text-align: center;
    line-height: 24px;
    background-color: #ee3643;

    transform: rotate(45deg);
}

.popular-products {
    margin-bottom: 20px;
}

.popular-products__banner,
.popular-manufacturers__banner {
    align-items: center;
    margin: 0 5px 20px;

    background-color: #f9f5f0;
}

.popular-products__row {
    align-items: stretch;
    margin-left: 5px;
    margin-right: 5px;
}

.popular-products__cell,
.card-product__cell,
.popular-manufacturers__cell {
    position: relative;

    border: 1px solid #eaeaea;

    text-align: center;
}

.popular-products__cell {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    overflow: hidden;
}

.card-product__cell:hover,
.card-product__cell:focus,
.popular-products__cell:hover,
.popular-products__cell:focus,
.popular-manufacturers__cell:hover,
.popular-manufacturers__cell:focus {       
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    
    transition: 0.4s;
}

.popular-products__images {
    max-width: 95%;
    margin-left: 1%;
}

.popular-manufacturers__link,
.popular-manufacturers__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-manufacturers__link {
    min-width: 100%;
    min-height: 100%;
}

.card-product__btn-wrap {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    flex-direction: column;
    justify-content: space-around;
    margin-top: 34px;
    padding-top: 10px;

    background-color: transparent;
    opacity: 0;
    transition-duration: 0.4s;
}

.card-product__btn-wrap:hover {
    opacity: 1;
    transition: 0.4s;
}

.popular-products__title,
.popular-manufacturers__title {
    padding-left: 30px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.popular-products__more,
.popular-manufacturers__more {    
    margin-right: 24px;
}

.card-product__title--without-old-price {
    padding-bottom: 30px;
}

/* POPULAR MANUFACTURERS */

.popular-manufacturers__more {
    padding: 14px 69px;
}

.popular-manufacturers__block {
    min-width: calc(100% + 10px);
    margin-left: -5px;
}

.popular-manufacturers__row {
    align-items: stretch;
    flex-basis: 25%;
}

.popular-manufacturers__cell {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 10px;
}

.popular-manufacturers__cell:active {
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

/* SERVICES */

.services {
    background-color: #f4f7f9;
}

.services .container {
    padding-left: 20px;
    padding-right: 20px;
}

.services__title {
    padding-top: 65px;
}

.services__title,
.company__title,
.contacts__title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
}

.services__info,
.company__description,
.contacts__text,
.delivery__description,
.warranty__description,
.credit__description {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.delivery__title,
.warranty__title,
.credit__title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.company__description {
    max-width: 80%;
}

.services__selection {
    align-items: flex-start;
}

.services__list {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 75px 0 100px;
}

.services__list::after {
    position: absolute;
    top: 0;
    right: 0;

    content: "";
    width: 10px;
    height: 279px;

    background-image: url(../img/services-shadow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.25;
}

.services__list::before {
    position: absolute;
    bottom: 50px;
    right: 0;

    content: "";
    width: 10px;
    height: 279px;

    background-image: url(../img/services-shadow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.25;
}

.services__option {
    margin: 0;
    padding: 20px 23px 24px;
    min-width: 240px;

    text-transform: none;
    text-align: left;
}

.warranty,
.credit,
.services-img__warranty,
.services-img__credit {
    display: none;
}

.services__option {
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;

    background-color: #32425c;
}

.services__option:hover,
.services__option:focus {
    color: #ffffff;
    
    background-color: #293449;

    transition: 0.4s;
}

.services__option--active {
    color: #32425c;

    background-color: #ffffff;
}

.services__description {
    align-self: center;
    width: 270px;
    margin-top: -100px;
    margin-left: 80px;
}

.delivery__description {
    width: 270px;
}

.services-img {
    align-self: center;
}

/* ABOUT */

.about-container {
    position: relative;

    padding: 0 20px 86px;
}

.company,
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.contacts {
    min-width: 30%;
}

.contacts__map--wrap {
    min-height: 158px;
    margin-top: 35px;
    margin-bottom: 40px;
}

.company__btn {
    max-width: 220px;
}

.company__list {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 5px;
    position: relative;

    margin-left: 35px;
    font-weight: 700;
    color: #000;
}

.company__item {
    padding: 5px 0;

    font-size: 18px;
}

.company__item:before {
    position: absolute;
    left: -30px;
    transform: translateY(15px);

    content: "";
    width: 25px;
    height: 2px;

    background-color: #ee3643;
}

.contacts__text {
    max-width: 90%;
    margin-top: 5px;
}

.contacts__map--wrap {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

/* POPUP WRITE US */

.popup-write-us {
    position: fixed;
    left: 26%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-width: 620px; 
    border-top: 7px solid #ee3643;

    color: #000000;

    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.popup-write-us__close-btn-wrap {
    display: flex;
    justify-content: flex-end;
}

.main-form,
.user-data {
    display: flex;
}

.user-data {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
}

.user-data__label {
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 18px;
}

.textarea-wrap .user-data__label {
    padding-left: 20px;
}

.user-data__name,
.user-data__email,
.textarea-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.feedback-form__user-name,
.feedback-form__user-email,
.user-letter {
    padding-left: 14px;

    font-weight: 700;

    border-radius: 4px;
}

.user-letter {
    line-height: 24px;
}

/* PLACEHOLDER */

.feedback-form__user-name::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-name::-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-name:-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-name:-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    padding-left: 14px;
    color: #a9a9a9;
}

.feedback-form__user-email::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-email::-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-email:-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-email:-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.user-letter::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 30px;
    color: #a9a9a9;
}

.user-letter::-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 30px;
    color: #a9a9a9;
}

.user-letter:-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 30px;
    color: #a9a9a9;
}

.user-letter:-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 30px;
    color: #a9a9a9;
}

.user-data__name {
    margin-right: 10px;
}

.user-data__email {
    margin-left: 10px;
}

.textarea-wrap {
    margin-bottom: 40px;
}

.user-letter {
    margin-left: 20px;
    margin-right: 20px;

    resize: none;
}

.feedback-form__btn {
    display: flex;
    justify-content: stretch;
    min-width: 140%;

    text-align: center;
}

.feedback-form__btn span {
    margin-left: 50%;
    transform: translateX(-50%);
}

/* POPUP MAP */

.popup-map {
    position: fixed;
    left: 18%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 40;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 940px;
    min-height: 447px;

    background-image: url(../img/map-big.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.popup-map__close-btn {  
    width: 30px;
    height: 21px;
    margin-top: 9px;

    opacity: 0;
}

/* POPUP CATALOG */

.popup-added-product {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 60;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 620px;
    height: 282px;    
    border-top: 7px solid #ee3643;

    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.popup-added-product__close-btn {
    display: flex;
    justify-content: flex-end;
}

.popup-added-product__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.popup-added-product__text {
    padding-left: 32px;

    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.popup-added-product__btns,
.feedback-form__btn-wrap {
    display: flex;
    justify-content: center;
    padding: 20px 120px;

    background-color: #f1f1f1;
}

.feedback-form__btn-wrap  {
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-bottom: -7px;
    padding-bottom: -17px;
}

.popup-added-product__btns {
    width: 100%;
}

.popup-added-product__button {
    margin: 36px 10px;
    min-height: 36px;
}

.popup-added-product__button--contitue {
    color: #000000;

    background-color: #ffffff;
}

.popup-added-product__button--contitue:hover,
.popup-added-product__button--contitue:focus {
    color: #ffffff;
}

.feedback-form__btn {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 460px;
    padding-bottom: 14px;
}

.popup-map,
.popup-write-us,
.popup-added-product {
    display: none;
}

/* FILTER */

.path__list {
    display: flex;
    justify-content: start;

    margin-left: 10px;
}

.perforators__offers {
    display: flex;
    justify-content: space-around;

    margin-top: 20px;
}

.filter__title,
.sorting__title {
   padding-left: 18px;
}

.filter__title,
.price-range,
.min-result,
.max-result,
.between-output,
.sorting {
    color: #000000;

    background-color: #f7f3ec;
}

.wrap-price-range {
    position: relative;
    margin: 0 -10px 20px;
    padding: 30px 20px;
    min-width: 100%;

    background-color: #f7f3ec;
}

.price-range:focus {
    outline: none;
  }

.price-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;

    background: #00ca74;

    cursor: pointer;
  }

  .price-range::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
  }

  .price-range::-moz-range-thumb {
    cursor: pointer;
  }

  .price-range::-ms-thumb {
    cursor: pointer;
  }

  .range-indicator {
    position: absolute;
    transform: translateY(50%);

    width: 20px;
    height: 22px;

    border-radius: 50%;
    background-color: #ffffff;
  }

  .range-indicator__wrap-center {
      position: relative;
    }

.range-indicator__wrap-center::after {
    position: absolute;
    left: 8px;
    top: 9px;

    content: "";
    width: 4px;
    height: 4px;

    border-radius: 1px;
    background-color: #ababab;
    }
      
.filter__name {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.price-result {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

.min-result,
.max-result {
    min-width: 47%;
    padding: 10.5px 0;

    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.between-output {
    padding: 10.5px 5px;

    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;

    background-color: transparent;
}

.manufacturer__name,
.manufacturer__name input,
.power__type,
.power__type input {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;

    cursor: pointer;
}

.manufacturer__name,
.power__type {
    position: relative;

    padding-left: 35px;
}

.manufacturer__name input[type="checkbox"] + .checkbox-indicator,
.power__type input[type="radio"] + .radio-indicator {
    position: absolute;
    top: 0;
    left: 0;

    background-position: 1px 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.manufacturer__name input[type="checkbox"] + .checkbox-indicator {
    width: 26px;
    height: 23px;

    background-image: url(../img/svg/checkbox-off.svg);
}

.manufacturer__name input[type="checkbox"]:focus + .checkbox-indicator,
.power__type input[type="radio"]:focus + .radio-indicator {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    opacity: 1;
}

.manufacturer__name input[type="checkbox"]:disabled + .checkbox-indicator,
.power__type input[type="radio"]:disabled + .radio-indicator {
    opacity: 0.3;
}

.power__type input[type="radio"] + .radio-indicator {
    left: -1px;

    width: 25px;
    height: 25px;

    background-image: url(../img/svg/radio-off.svg);
}

.manufacturer__name input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url(../img/svg/checkbox-on.svg);
}

.power__type input[type="radio"]:checked + .radio-indicator {
    background-image: url(../img/svg/radio-on.svg);
}

.filter__btn,
.sorting button,
.page {   
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    background-color: transparent;
}

.sorting button {
    padding: 0 15px;

    color: rgba(0, 0, 0, 0.3);
}

.path__link:hover,
.path__link:focus,
.sorting button:hover,
.sorting button:focus {
    text-decoration: underline;
    color: #000000;
    
    transition: 0.4s;
}

.path__link:active,
.sorting button:active {
    text-decoration: none;
    color: #ee3643;
}

.sorting-up-dir,
.sorting-down-dir {
    opacity: 0.5;
}

.sorting-up-dir:hover,
.sorting-up-dir:focus,
.sorting-down-dir:hover,
.sorting-down-dir:focus {
    opacity: 1;
}

.filter__btn {
    padding: 13px 38px;
    border-radius: 2px;
}

.filter__btn,
.page  {
    border: 1px solid #e5e5e5;
}

.filter__btn:hover,
.filter__btn:focus,
.page:hover,
.page:focus  {
    border: 1px solid #bdc6ca;
    
    transition: 0.4s;
}

.filter__btn:active,
.page:active  {
    border: 1px solid #ee3643;
}

#page--active {
    color: #ffffff;

    background-color: #ee3643;
}

/* PERFORATORS */

.card-product__row {
    margin: 0 -10px;
}

.path__item {
    position: relative;
}

.home__link {
    padding-right: 20px;
}

.path__link {
    padding: 0 20px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.path__link::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 12px;
    background-image: url(../img/svg/icon-right-small.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    left: 0;
    top: 12px;
}

.path__item:first-child path__link::before {   
    width: 0;
    height: 0;
}

.show-mark {
    position: absolute;
    top: 5px;
    right: -30px;
    z-index: 10;

    display: block;

    overflow: hidden;
}

.card-product__cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;

    text-align: center;

    overflow: hidden;
}

.card-product__btn--buy,
.card-product__btn--to-bookmark {
    position: relative;

    max-width: 135px;
    min-width: 135px;
    min-height: 38px;
    margin: 3.5px auto;
    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;

    border-radius: 2px;
    box-shadow:  0 -7px 0 0 #ffffff,
                 25px 0 0 0 #ffffff,
                 -26px -7px 0 0 #ffffff;
}

.card-product__btn--buy {
    box-shadow: inset 0 -3px 0 #367315,
                0 -12px 0 0 #ffffff,
                25px -5px 0 0 #ffffff,
                25px 10px 0 0 #ffffff,
                -25px 0 0 0 #ffffff;
}

.card-product__btn--buy::before {
    position: absolute;
    top: 12px;
    left: 12px;

    width: 15px;
    height: 15px;
    content: "";

    background-image: url(../img/svg/icon-cart.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.card-product__btn--buy:hover::before,
.card-product__btn--buy:focus::before,
.card-product__btn--buy:active::before {
    opacity: 1;
}

.card-product__btn--buy {
    color: #ffffff;

    background-color: #63a63e;
}

.card-product__btn--buy:hover,
.card-product__btn--buy:focus {
    background-color: #5fbb2d;
    
    transition: 0.4s;
}

.card-product__btn--buy:active {
    background-color: #518534;
}

.card-product__btn--to-bookmark {
    border: 3px solid #63a63e;

    color: #32425c;

    background-color: #ffffff;
}

.card-product__btn--to-bookmark:hover,
.card-product__btn--to-bookmark:focus {
    border: 3px solid #32425c;
    
    transition: 0.4s;
}

.card-product__btn--to-bookmark:active {
    border: 3px solid rgba(50, 66, 92, 0.3);
    color: rgba(50, 66, 92, 0.3);
}

.product-title {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 30px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    align-items: center;
    color: #32425c;

    background-color: #f2f6f8;
}

.card-product__title {
    margin: 0 auto 18px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price,
.new-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;
}

.old-price {
    margin: 0 auto;
    padding-bottom: 13px;

    text-decoration: line-through;
    color: #999999;
}

.new-price {
    max-width: 122px;
    margin: 0 auto 20px;
    padding: 13px 20px 12px 35px;

    color: #ffffff;
    
    background-color: #ee3643;
}

.new-price:after {
    position: absolute;

    bottom: 20px;
    right: 28.5px;
    content: "";
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-left-color:#ee3643;
    border-right: 0;
}

.page-switch {
    display: flex;

}

.page {
    margin: 0 5px;
    padding: 12.5px 15px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;
    color: #000000;
}

/* INFO */

.info {
    background-color: #f2f6f8;
    background-position: 0 0;
}

.info__title {
    padding-top: 65px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.info__description {
    margin: 0;
    padding-bottom: 75px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

/* FOOTER */

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.main-footer__top {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0 auto;

    background-color: #32425c;
}

.main-footer__top .container {
    padding: 0 20px;
}

.footer-logo-wrap {
    position: relative;
    padding-top: 10px;
}

.footer-logo {
    align-items: stretch;
    padding: 20px 41px 20px 42px;

    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);

    transition-duration: 0.4s;
}

.footer-logo:hover,
.footer-logo:focus {
    background-color: #ca2c37;
    
    transition: 0.4s;
}

.footer-navigation-top {
    align-items: flex-end;
    padding-top: 12px;

    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-top__link,
.footer-navigation-bottom__link {
    padding: 20px 30px;

    color: #f3f7f9;
}

.footer-navigation-bottom__list {
   padding-top: 10px; 
}

.footer-navigation-top__link:hover,
.footer-navigation-top__link:focus,
.footer-navigation-bottom__link:hover,
.footer-navigation-bottom__link:focus {
    text-decoration: underline;
    
    transition: 0.4s;
}

.footer-navigation-top__link:active,
.footer-navigation-bottom__link:active {
    text-decoration: none;

    opacity: 0.5;
}

.main-footer__bottom {
    width: 100vw;

    background-color: #293449;
}

.footer-address {
    margin: 30px auto 55px;
}

.footer-address,
.footer-tel {
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    white-space: nowrap;
    color: #f3f7f9;
}

.footer-tel:hover,
.footer-tel:focus {
    text-decoration: underline;
    
    transition: 0.4s;
}

.footer-tel:focus {
    opacity: 0.5;
}

.footer-navigation-bottom {
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-bottom__link {
    color: #ffda96;    
}

.main-footer__bottom-container {
    margin: 40px auto 35px;
    padding: 0 20px;
}

.main-footer__copyright--right {
    display: flex;
    justify-content: space-around;
}

.footer-feedback {
    margin-right: 52px;
}

.main-footer__copyright--left,
.footer-feedback,
.developed {
    font-size: 16px;
    line-height: 18px;
}

.footer-feedback:hover,
.footer-feedback:focus,
.developed:hover,
.developed:focus {
    text-decoration: underline;
    
    transition: 0.4s;
}

.footer-feedback:active,
.developed:active {
    color: #ee3643;
}

.social_list,
.main-footer__copyright--right {
    display: flex;
    justify-content: space-around;
}

.social_button {
    display: block;
    margin: 0 2px;
    width: 41px;
    height: 41px;
    border-radius: 50%;

    font-size: 0;

    background-color: #212a3a;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

li:nth-child(1) .social_button {
    background-image: url(../img/svg/icon-vk.svg);
}

li:nth-child(2) .social_button {
    background-image: url(../img/svg/icon-fb.svg);
}

li:nth-child(3) .social_button {
    background-image: url(../img/svg/icon-insta.svg);
}

.social_button:hover,
.social_button:focus,
.social_button:active {
    background-color: #ee3643;
    
    transition: 0.4s;
}

.social_button--vk,
.social_button--fb,
.social_button--insta {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social_button--vk {
    background-image: url(../img/svg/icon-vk.svg);
}

.social_button--fb {
    background-image: url(../img/svg/icon-fb.svg);
}

.social_button--insta {
    background-image: url(../img/svg/icon-insta.svg);
}

.feedback__link,
.developed__link {
    color: #ffda96;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    z-index: 25;
}

.dis-flex {
    display: flex;
}